@using RecordManagementPortalDev.Data
@using Microsoft.AspNetCore.Identity
@using RecordManagementPortalDev.Models
@model RecordManagementPortalDev.Controllers.ReportsController.ReportGen
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
}
@{
	ViewData["Title"] = "Customer Report";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="mt-3">Customer Report</h4>
<div class="border p-3 mt-4">
	<form method="post" asp-action="GenerateCustInventory">

		@*<input asp-for="Id" hidden />*@
		<fieldset>
			<div style="display:flex;justify-content:space-between">
				<div style="display:flex">
					<h5 class="text-warning col-sm-8 mb-0 align-content-center"><b>Inventory Report for Customer</b></h5>
					<div class="align-content-center col-sm-6 ms-1">
						<select class="form-select text-center" id="ULCustomerCode" name="CustomerCode" asp-controller="Customer" asp-action="UserInfo" asp-items="@Model?.CustomerList">
							<option value="0" disabled selected>- Select Customer -</option>
						</select>
					</div>
				</div>
				<button type="submit" class="btn btn-outline-warning" id = 'generate-customer-inventory'>Generate</button>
			</div>
		</fieldset>

		@*<input asp-for="Id" hidden />*@
		@*<fieldset>
			<div class="row">
				<div class="form-group mt-2 display:flex">
					<h5 class="text-warning col-sm-3 mb-0 align-content-center"><b>Inventory Report for Customer </b></h5>
					<select class="form-select w-25 text-center" id="ULCustomerCode" name="CustomerCode" asp-controller="Customer" asp-action="UserInfo" asp-items="@Model?.CustomerList">
						<option value="0" disabled>- Select Customer -</option>
					</select>
					<input type="hidden" asp-for="@Model.CustomerCode" name="CustomerCode" />
				</div>
				<div class="row mb-2 p-2">
					<div class="col-md-12">
						<div class="container p-2 border border-primary rounded">
							<div class="row mb-2 align-items-center">
								<label for="CustomerCode" class="col-sm-2 col-form-label">Customer Code</label>
								<div class="align-content-center col-sm-2">
									<select class="form-select text-center" id="ULCustomerCode" name="CustomerCode" asp-controller="Customer" asp-action="UserInfo" asp-items="@Model?.CustomerList">
										<option value="0" disabled>- Select Customer -</option>
									</select>
									<input type="hidden" asp-for="@Model.CustomerCode" name="CustomerCode" />
								</div>
								<div class="col-sm-6">
									<div class="form-group row">
										<label class="col-form-label col-sm-4 mt-2">Customer Report </label>
									</div>
									<div class="form-group row">
										<label for="BillStartDate" class="col-form-label col-sm-4 mt-2"> From : </label>
										<div class="col-sm-8 mt-2">
											<input asp-for="@Model.StartDate" type="date" id="sdate" class="form-control" />
										</div>
									</div>
									<div class="form-group row">
										<label for="BillEndDate" class="col-form-label col-sm-4 mt-2"> To : </label>
										<div class="col-sm-8 mt-2">
											<input asp-for="@Model.EndDate" id="edate" type="date" class="form-control" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-2 mt-2">
								<button type="submit" class="btn btn-outline-warning mt-3" formaction="CustomerInvReport">Generate</button>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-2 mt-2">
								<button type="submit" class="btn btn-outline-warning mt-3" formaction="CustomerInvCreate">Create</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>*@
	</form>	
</div>

<div class="justify-content-center align-content-center" style="min-height:70vh" id="divPartial">
	@Html.Partial("CustInvEmpty")
</div>


@section Scripts {
<script>
	$(function(){
		const now = new Date();
		const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);
		$('#sdate').attr(firstDay); // 👉️ Sat Oct 01 2022 ...

		const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);
		$('#edate').attr(lastDay); // 👉️ Mon Oct 31 2022 ...

			$('#ULCustomerCode').change(function () {
				event.preventDefault();

				// Get the selected date
				var selectedcust = document.getElementById("ULCustomerCode").value;

				// Build the URL with the selected date as a query parameter
				var url = `CustInvSummary?CustomerCode=${encodeURIComponent(selectedcust)}`;

				// Load the content into the divPartial element
				$('#divPartial').load(url);
			});
	});

		document.getElementById('generate-customer-inventory').addEventListener('click', function () {
			window.location.href = '@Url.Action("GenerateCustInventory", "Reports")' + '?custcode=' + document.getElementById('ULCustomerCode').value;
		});
</script>
}








