@using RecordManagementPortalDev.Data
@using Microsoft.AspNetCore.Identity
@using RecordManagementPortalDev.Models
@model RecordManagementPortalDev.Controllers.ReportsController.ReportGen
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
}
@{
	ViewData["Title"] = "Stock Report";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.nth-table {
	}

		.nth-table tr:nth-child(even) {
			background: #444;
		}

		.nth-table tr:nth-child(odd) {
			background: #375a7f;
		}

		.nth-table th {
			padding-top: 13px;
			padding-bottom: 13px;
			background-color: #1d3850;
		}

	.disabled-link {
		pointer-events: none;
		cursor: not-allowed;
	}

	#stocklist-grid{
		display:grid;
		grid-template-columns: 30% 68%;
		grid-column-gap: 2%;
	}

</style>

<h4 class="mt-3">Stock Report</h4>
<div class="border p-3 mt-4">
	<form id = "month-selector" method="post" asp-action="PrintStkR">
		@*<input asp-for="Id" hidden />*@
		<fieldset>
			<div style="display:flex;justify-content:space-between">
				<div style="display:flex">
					<h5 class="text-warning col-sm-6 mb-0 align-content-center"><b>Stock Report As At</b></h5>

					<div class="col-sm-6 ms-3">
						<div class="align-content-center">
							<input asp-for="@Model.SelectedDate" type="month" min="2024-04" max="@DateTime.Now.ToString("yyyy-MM")" id="asatdate" class="form-control text-center" />
						</div> 
					</div>
				</div>
				<div>
					<ul class="navbar-nav me-auto">
						<li class="nav-item dropdown">
							<a class="btn btn-outline-warning" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-gear-fill"></i>
							</a>
							<ul class="dropdown-menu">
								<li class="text-white px-2 py-2" role="button" id="stock-report" aria-disabled="true">Print Stock Balance Report</li>
								<li class="text-white px-2 py-2" role="button" id="transaction-report" aria-disabled="true">Print Stock Transaction Report</li>
								<li class="text-white px-2 py-2" role="button" id="add-receiving" aria-disabled="true">Add Receiving (TBD)</li>
								<li class="text-white px-2 py-2" role="button" id="update-mss-job-no" aria-disabled="true">Update MSS Job Number (TBD)</li>
							</ul>
						</li>
					</ul>
				</div>

		
			</div>
		</fieldset>
	</form>
</div>

<div id="stocklist-grid">
	<div>

		<table class="nth-table table table-hover pt-3 text-center align-content-center">
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col">Item</th>
					<th scope="col">Closing Balance</th>
					@*
					@if (user.UserRole == "Admin" || user.UserRole == "Approver")
					{
						<th style="width:5%"></th>
					}
					<th style="width:5%"></th>*@
				</tr>
			</thead>
			<tbody class="align-content-center">
		
				@{
					long rowCount = 0;
				}

				@foreach (var obj in Model?.StockList)
				{
					rowCount = rowCount + 1;
					<tr class="align-content-center">
						<td scope="row">@rowCount</td>
						<td id="carton-type-@rowCount">@obj.CartonType</td>
						<td>@obj.ClosingBalance</td>
						<td>
							<a id="trans-btn-@rowCount" class="btn btn-outline-info" role="button" aria-disabled="true">
							<i class="bi bi-ticket-detailed-fill"></i>
							</a>
						</td>
					</tr>
				}
		
			</tbody>
		</table>
	</div>
	<div class="justify-content-center align-content-center" id="divPartial">
		@Html.Partial("CtnTypeTransEmpty")
	</div>

	@*<table class="nth-table table table-hover pt-3 text-center">
		<thead>
			<tr>
				<th scope="col">No.</th>
				<th scope="col">Item</th>
				<th scope="col">Closing Balance</th>
				
				@if (user.UserRole == "Admin" || user.UserRole == "Approver")
				{
				<th style="width:5%"></th>
				}
				<th style="width:5%"></th>
			</tr>
		</thead>
		<tbody id="order">

			

		</tbody>
	</table>*@
</div>

<div class="mb-10">
	&nbsp;
</div>
@section Scripts {
<script>

	$(function(){
		const now = new Date();
		const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);
		$('#sdate').attr(firstDay); // 👉️ Sat Oct 01 2022 ...

		const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);
		$('#edate').attr(lastDay); // 👉️ Mon Oct 31 2022 ...

		$('#asatdate').change(function () { 
			$('#month-selector').submit(); 
		});
	});

		// Get all the buttons in the table
		var buttons = document.querySelectorAll('[id^="trans-btn-"]');

		// Add click event listener to each button
		buttons.forEach(function (button) {
			button.addEventListener('click', function (event) {
				event.preventDefault();

				// Get the selected date
				var arr = button.id.split("-");
				var selectedtype = document.getElementById("carton-type-" + arr[arr.length - 1]).innerHTML;
				var selecteddate = document.getElementById("asatdate").value;

				// Build the URL with the selected date as a query parameter
				var url = `CtnTypeTrans?ctntype=${encodeURIComponent(selectedtype)}&date=${encodeURIComponent(selecteddate)}`;

				// Load the content into the divPartial element
				$('#divPartial').load(url);
			});
		});

		document.getElementById('stock-report').addEventListener('click', function () {
			window.location.href = '@Url.Action("GenerateStockReport", "Reports")' + '?selectedDate=' + document.getElementById('asatdate').value;
		});
		document.getElementById('transaction-report').addEventListener('click', function () {
			window.location.href = '@Url.Action("GenerateTransReport", "Reports")' + '?selectedDate=' + document.getElementById('asatdate').value;
		});


</script>
}







